.qa-container {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
}

.qa-search-container {
  width: 100%;
  white-space: nowrap;
}

.qa-search {
  width: 100%;
  height: 30px;
  font-weight: bold;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 25px;
  padding-top: 5px;
}

.qa-search::placeholder {
  color: black;
}

.fa-search {
  position: relative;
  right: 25px;
}

.qa-text {
  display: inline-block;
  width: 75%;
}

.qa-text p {
  margin-left: 5px;
}

.qa-item-right {
  display: inline-block;
  width: 20%;
  margin-top: 20px;
  font-size: 11px;
  vertical-align: top;
  text-align: end;
}

.qa-question {
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: large;
}

.qa-answer {
  margin-bottom: 10px;
  font-size: 15px;
}

.qa-user {
  font-size: 11px;
  margin-left: 25px;
  margin-bottom: 15px
}

.qa-bold {
  font-weight: bolder;
}

.qa-label {
  width: 20px;
  display: inline-block;
  vertical-align: top;
  font-weight: 800;
  font-size: 12pt;
}

.qa-label-a {
  position: relative;
  top: -.09em;

}

.qa-label-q {
  position: relative;
  top: .1em;
}

.qa-more-answers {
  margin-left: 25px;
  margin-top: 10px;
  font-size: .75em;
  font-weight: 800;
}

.pointer {
  cursor: pointer;
}

p {
  display: inline-block;
}

.qa-buttons {
  margin-left: 25px;
  margin-top: 20px;
  white-space: nowrap;
}

.qa-buttons input {
  margin-right: 20px;
  height: 40px;
  background-color: white;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

.fa-plus {
  position: relative;
  right: 50px;
  top: 2px;
  cursor: pointer;
}

.qa-buttons div {
  display: inline-block;
}

.qa-search div {
  display: inline-block;
}

.qa-item {
  width: 100%;
}

.underline {
  text-decoration: underline;
}

.qa-list {
  width: 60vw;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: auto;
}

