.pd-star-left {
  display: inline-block;
  margin-top: 30px;
}


#read-review {
  text-decoration: underline;
  font-size: small;
  display: inline-block;

}


#expand-name {
  margin-top: 15px;
  font-size: xx-large;

}

#category-name {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
}

#price {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
  margin-bottom: 30px;
}

#bold {
  font-weight: bold;
}

#style-button {
  background-color: grey;
  border: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin: 8px 8px;
  border-radius: 50%;
}

.style-select-word{
  margin-bottom: 20px;
}

.style-select {
  margin-bottom: 20px;
}

#add-to-bag{
  width: 80%;
  height:50px;
  margin-bottom:20px;
  font-weight: bold;
  text-align:left;
  font-size: medium;
}

#favourite{
  width:20%;
  height:50px;
  margin-bottom:20px;
  text-align:left;
  font-weight: bold;
  font-size: medium;
}

#select-size{
  width:70%;
  height:50px;
  margin-bottom:20px;
  font-weight: bold;
  text-align:left;
  font-size: medium;
}

#select-quantity{
  width:30%;
  height:50px;
  margin-bottom:20px;
  font-weight: bold;
  text-align:left;
  font-size: medium;
}

.main-img {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 400px;
  display: block;
}

#pic {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 300px;
}

.slider-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 80%;
  max-width: 650px;
  height: 400px;
  position: absolute;
  overflow: scroll;
}

.slide {
  flex: 0;
  min-width: 150px;
  height: 200px;
  position: relative;
  transition: all 0.5s;
}

.slide img {
  width: 80px;
  height: 100px;
  /* object-fit: cover; */
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}

.star-line {
  position: relative;
  max-width: fit-content;
}

.star-fill {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

.description{
  margin-bottom:20px;
}

#sale{
  color: red;
}